

@media (min-width: 0px)
{
.nav-test
{
    top:0;
    position: relative;
    width: 100%;
    height: 175px;
    /*text-align: center; */
    background-color: #ffffff;
    z-index: 3;
    padding-top: 15px;
}
}




@media (min-width: 500px)
{
.nav-test
{
    padding-top: 0px;
    top:0;
    position: fixed;
	width: 100%;
	height: 80px;
	background-color: #ffffff;
    z-index: 3;
}
}


.navbar-list
{   

	list-style: none;
	margin-left: auto;
	margin-right: auto;
	width: 680px;
}

@media (min-width: 0px)
{
ol.navbar-list > li > a 
{
    margin-top: 30px;
    margin-right: 15px;
    font-size: 21px;
    color: #363636;
}
}

@media (min-width: 500px)
{
ol.navbar-list > li > a 
{
    float:left;
    margin-top: 30px;
    margin-right: 15px;
    font-size: 21px;
    color: #363636;
    text-align: center;
}
}

@media (min-width: 500px)
{
ol.navbar-list > li
{
    height: 80px;
    float: left;
    text-align: center;
    padding-left: 10px;
}
}

@media (min-width: 500px)
{
ol.navbar-list > li:hover
{
   border-bottom: solid 5px #2F3482;
   cursor: pointer;
}
}


.navbar-list >li>a:hover
{
  color: #363636;
  cursor: pointer;
}