

body

{

   margin: 0px !important;

   padding: 0px !important;

   list-style: none;

   background-color: #fff !important; 

   font-family: 'Roboto', sans-serif;

   font-family: 'Montserrat', sans-serif !important;

}





@media (min-width: 0px)

{

.logo

{

width: 100%;

height: 150px; 

background-color: #E3BC7D;

display: none; 

}

}



@media (min-width: 500px)

{

.logo

{

width: 100%;

height: 250px; 

background-color: #E3BC7D;

}

}





@media (min-width: 1600px)

{

.logo

{

width: 100%;

height: 350px; 

background-color: #E3BC7D;

}

}



@media (min-width: 0px)

{

.main-theme

{

width: 100%;

height: 500px;

position: relative;

background-position: center !important;

background-size: cover!important;

background-position: center !important;

background-attachment: fixed !important;

background-image: url('6.jpg')

}

}



@media (min-width: 500px)

{

.main-theme

{

height: 500px;

}

}



@media (min-width: 1600px)

{

.main-theme

{

height: 800px;

}

}



@media (min-width: 0px)

{

.black-box

{

width: 100%;

height: 500px;

top:0;

left:0;

right: 0;

left: 0;

border-radius: 6px;

position: absolute;

}

}



@media (min-width: 500px)

{

.black-box

{

height: 500px;

}

}



@media (min-width: 1600px)

{

.black-box

{

height: 800px;

}

}





.black-box:hover

{

background:#212121;

opacity: 0.5;

}







.text-hot

{

width: 100%;

text-align: center;

font-size: 82px;

letter-spacing:4px;

margin-top: 40px;

}





.lista

{

list-style: none;

text-align: center;

}



#najnowsze_posty-2

{

list-style: none;



}





@media (min-width: 0px)

{

.thumbnailX

{

    margin-left: auto;

    margin-right: auto;

    width: 350px;

    height: 200px;

    padding: 0px !important;

	background-color: transparent;

	border: none;

    overflow: hidden;

}

}



@media (min-width: 1600px)

{

.thumbnailX

{

    width: 450px;

    height: 250px;

}

}





@media (min-width: 0px)

{

.thumbnailX a>img

{

width: 350px;

height: 200px;

}

}



@media (min-width: 1600px)

{

.thumbnailX a>img

{

width: 450px;

height: 250px;

}

}











.thumbnail

{

    height: 200px;

    margin-left: auto;

    margin-right: auto;

    padding: 0px !important;

    background-color: transparent;

    border: none;

    overflow: hidden;

}



.thumbnail a>img

{

width: 350px;

height: 200px;

}





a:link

{

    color: #363636;

    text-decoration: none;

}



a:visited

{ 

	color:  #363636 !important;   

    text-decoration: none;

}



a:hover

{

    color: #2F3482 !important;

    text-decoration: none;

}



a:active {

    color: #2F3482 !important;

}





.margin-top

{

margin-top: 100px;

}



.margin-top-B

{

margin-top: 81px;

}



.orban

{

    transition-duration: 2s;

    display: block;

    z-index:2;

    position: relative;

    display: inline-block;

    overflow: hidden;

    max-width: 100%;

}



.orban:hover

{

    transform: scale(1.1);

    -webkit-transform: scale(1.1);

    -moz-transform: scale(1.1);

    z-index: 0;

}



.orban:before, .orban:after {

    content: '';

    position: absolute;

    text-align: center;

    transition: all .6s ease-in-out;

    width: 100%;

}



.orban:before {

    height: 100%;

}

.widget_wysija_cont .wysija-submit

{

margin-left: auto;

margin-right: auto;



width: 150px;

height: 40px;

font-size: 20px;

color: #363636;

margin-top: 20px;

border: 2px solid #363636;

border-radius: 5px;

cursor: pointer;

letter-spacing: 2px;

outline: none;

background-color: #fff;

}



.widget_wysija_cont .wysija-submit:hover

{

color: #fff;

background-color: #363636;

}





#form-wysija-2

{

text-align: center;

}





@media (min-width: 1px)

{

.first-article-title

{

color: #fff;

font-size: 41px;

text-align: center;

position: relative;

font-family: 'Spectral', serif;

padding-left: 30px;

padding-right: 30px;

}

}









@media (min-width: 800px)

{

.first-article-title

{

font-size: 61px;

padding-left: 50px;

padding-right: 50px;

}

}



@media (min-width: 1600px)

{

.first-article-title

{

font-size: 91px;

padding-left: 100px;

padding-right: 100px;

}

}



.first-article-title a

{

color: #fff !important;

}



.first-article-title a:hover

{

color: #fff !important;

}



.first-article-title a:visited

{

color: #fff !important;

}



@media (min-width: 1px)

{

.entry-meta-title-header

{

font-size: 21px;

color: #fff;

text-align: center;

position: relative;

padding-top: 125px;

font-family: 'Spectral', serif;

}

}





@media (min-width: 500px)

{

.entry-meta-title-header

{

font-size: 31px;

padding-top: 100px;

font-family: 'Spectral', serif;

}

}



@media (min-width: 1600px)

{

.entry-meta-title-header

{



font-size: 41px;

padding-top: 175px;



}

}





.entry-meta-title-header a

{

color: #fff !important;

}



.entry-meta-title-header > a:hover

{

color: #fff !important;

}



.entry-meta-title-header > a:visited

{

color: #fff !important;

}



.formErrorContent

{

    width: 90px !important;

    position: static;

}



.title-length

{

    font-size: 21px;

    margin-top: 10px;

    margin-bottom: 10px;

}



.post-excerpt

{

    margin-bottom: 10px;

}



.Opacity0

{

  opacity: 0 !important;

}





@media (min-width: 576px) {

  .containerX {

    margin-left: auto;

    margin-right: auto;

    padding-right: 15px;

    padding-left: 15px;

  }

}



@media (min-width: 768px) {

  .containerX {

    padding-right: 15px;

    padding-left: 15px;

  }

}



@media (min-width: 992px) {

  .containerX {

    padding-right: 15px;

    padding-left: 15px;

  }

}



@media (min-width: 1200px) {

  .containerX {

    padding-right: 15px;

    padding-left: 15px;

  }

}



@media (min-width: 576px) {

  .containerX {

    width: 540px;

    max-width: 100%;

  }

}



@media (min-width: 768px) {

  .containerX {

    width: 720px;

    max-width: 100%;

  }

}



@media (min-width: 992px) {

  .containerX {

    width: 960px;

    max-width: 100%;

  }

}



@media (min-width: 1200px) {

  .containerX {

    width: 1140px;

    max-width: 100%;

  }

}

  @media (min-width: 1600px) {

  .containerX {

    width: 1500px;

    max-width: 100%;

  }

}



.button-ninja    

{

    background-color: transparent;

    color: #FFF !important;

    border: none;

    text-decoration: none;

    display: inline-block;

    width: 300px;

    height: 100px;

    font-size: 24px;

    position: relative;

    z-index: 3;

    margin-top: 20px; 

    font-family: 'Spectral', serif;

}



.button-ninja:hover

{

 /*border-bottom: : 3px solid #FFF !important; */

}



.button-ninja-center

{

text-align: center;

}