


@media (min-width:  0px)
{
.background-picture-D
{
width: 100%;
height: 600px;
background-image: url('1.jpg');
background-position: center !important;
background-size: cover!important;
}
}

@media (min-width:  0px)
{
.background-picture-D
{
height: 700px;
}
}


.name-row 
{
width: 200px;
height: 50px;
border: 2px solid #858585;
font-size: 21px;
border-radius: 5px;
}


.name-row:hover
{
 border: 2px solid black;
}

.name-row:focus
{
 border: 2px solid black;
}




.mail-row 
{
border-radius: 5px;    
width: 200px;
height: 50px;
border: 2px solid #858585;
font-size: 21px;
border-radius: 
}

.mail-row:hover
{
 border: 2px solid black;
}

.mail-row:focus
{
 border: 2px solid black;
}




.text-row 
{
     border-radius: 5px;
width: 600px;
height: 200px;
font-size: 21px;
border: 2px solid #858585;
}

.text-row:hover
{
 border: 2px solid black;
}

.text-row:focus
{
 border: 2px solid black;
}


.button-row
{
width: 200px;
height: 50px;
font-size:20px;
color: white;
margin-top: 20px;
border: 2px solid #858585;
border-radius: 5px;
cursor: pointer;
letter-spacing: 2px;
outline: none;
}

.button-row:hover
{
 border: 2px solid black;
   color: black;
}

.button-row:focus
{
 border: 2px solid black;
  color: black;
}


.conatiner-background
{
background-color: #DCFF17;
}

.mail-contact
{
margin-top: 50px;
text-align: center;
}