

.panel-heading
{
text-align: center;
border-bottom: 2px solid;
border-top: 2px solid;
border-top-right-radius: 0px !important;
border-top-left-radius: 0px !important;
}

.widget ul
{
list-style: none;
}